name: Build Executable

on:
  push:

  workflow_call:
    inputs:
      release-tag:
        type: string
        description: 'Release tag'
        required: true

jobs:

  standalone-executable:
    name: Create a standalone linux executable
    runs-on:
      labels: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-24.04
            binary-suffix: x86-64
          - runner: ubuntu-24.04-arm
            binary-suffix: arm64
    permissions:
      contents: write
    env:
      BINARY_NAME: "exaslpm_linux_${{matrix.binary-suffix}}"
    steps:
      - name: SCM Checkout
        uses: actions/checkout@v5

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v4

      - name: Build standalone executable
        run: poetry run -- nox -s build-standalone-binary -- --executable-name "$BINARY_NAME"

      - name: Check binary
        run: |
          ls -la .
          ./"$BINARY_NAME" --help
        working-directory: ./dist

      - name: Upload to release
        if: ${{ inputs.release-tag != ''}}
        run: gh release upload ${{ inputs.release-tag }} "dist/$BINARY_NAME"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v4
        name: Upload executable ${{env.BINARY_NAME}}
        with:
          name: ${{ env.BINARY_NAME }}
          path: "dist/${{env.BINARY_NAME}}"
          compression-level: 0
          retention-days: 1