name: Build Executable

on:
  workflow_call:
    inputs:
      release-tag:
        type: string
        description: 'Release tag'
        required: true

  workflow_dispatch:
    #No input parameter. We want to avoid the possibility to override artificats for existing release

jobs:
  build-matrix-executable-config:
    name: Generate Build Matrix for building executable
    uses: ./.github/workflows/matrix-build-executable-config.yml
    permissions:
      contents: read

  standalone-executable:
    name: Create a standalone linux executable
    needs:
      - build-matrix-executable-config
    runs-on:
      labels: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.build-matrix-executable-config.outputs.matrix) }}
    permissions:
      contents: write
    env:
      BINARY_NAME: "exaslpm_linux_${{matrix.binary-suffix}}"
    steps:
      - name: SCM Checkout
        uses: actions/checkout@v6

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v5
        with:
          python-version: "3.10"
          poetry-version: "2.3.0"

      - name: Build standalone executable
        run: poetry run -- nox -s build-standalone-binary -- --executable-name "$BINARY_NAME"

      - name: Check binary
        run: |
          ls -la .
          ./"$BINARY_NAME" --help
        working-directory: ./dist

      - name: Upload to release
        if: ${{ inputs.release-tag != ''}}
        run: gh release upload ${{ inputs.release-tag }} "dist/$BINARY_NAME"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

