name: Build Executable

on:
  workflow_call:
    inputs:
      release-tag:
        type: string
        description: 'Release tag'
        required: true

jobs:

  standalone-executable:
    name: Create a standalone linux executable
    runs-on:
      labels: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: "ubuntu-24.04"
            binary-suffix: x86-64
          - runner: ubuntu-24.04-arm
            binary-suffix: arm64
    permissions:
      contents: write
    env:
      BINARY_NAME: "exaslpm_linux_${{matrix.binary-suffix}}"
    steps:
      - name: SCM Checkout
        uses: actions/checkout@v6

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v5
        with:
          python-version: "3.10"
          poetry-version: "2.3.0"

      - name: Build standalone executable
        run: poetry run -- nox -s build-standalone-binary -- --executable-name "$BINARY_NAME"

      - name: Check binary
        run: |
          ls -la .
          ./"$BINARY_NAME" --help
        working-directory: ./dist

      - name: Upload to release
        if: ${{ inputs.release-tag != ''}}
        run: gh release upload ${{ inputs.release-tag }} "dist/$BINARY_NAME"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
